# Gradle

.gradle/
build/

# Java

*.class
*.log

# IDE - VS Code

.vscode/

# IDE - IntelliJ

.idea/
*.iml

# MacOS

.DS_Store

# Test Reports

test-output/
allure-results/
allure-report/

# Screenshots

screenshots/

# Temporary files

*.tmp
*.swp
